.icon {
    font-size: 56px;
    color: red;
}

body {
    /* background-color: #9ACD32;
    background-color: #051428;
    background: #c31432; */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.box {
    width: auto;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

h1{
    color: #fff;
}

.card:hover {
    transition: transform 0.5s ease;
    transform: rotateY(180deg);
}